<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,400;1,500&family=Righteous&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        *{
            margin: 0;
            padding: 0;
        }
        body{
            color: #0F0326;
            height: 80vh;
            width: 100vw;
            background-image: url("https://img.freepik.com/free-vector/blue-curve-frame-template-vector_53876-165851.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705708800&semt=ais");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        p{
            margin: 6%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;  margin-top: 3%;">Bright Start Connect</h1>
    <h4 class="head" style="text-align: center;font-weight: bolder;font-size: larger; "> Email-connect@gmail.com <br>
        Phone-7877777777 <br>
        Date- <%= awardDate %>
    </h4>
    <p style="margin-top: 16%;">
        Dear Sir/Madam, <br><br>

I am writing this letter of recommendation on behalf of <%= studentName %> who has been an integral part of our Bright Start Connect volunteer team. During their time with us, he demonstrated exceptional commitment, dedication, and passion for our mission.

<%= studentName %> actively contributed to various aspects of our organization, making a positive impact on our initiatives. <br><br> He consistently demonstrated a strong work ethic, attention to detail, and the ability to collaborate effectively with team members.

Furthermore, <%= studentName %> exhibited a deep sense of responsibility and reliability. He consistently fulfilled his commitments and went above and beyond expectations to ensure the success of the tasks.

In addition to his valuable contributions, <%= studentName %> is a person of integrity and compassion. He interacted with our community members, clients, or beneficiaries with empathy and respect, creating a positive and inclusive environment. <br><br>

I wholeheartedly recommend <%= studentName %> for any future endeavors. He have not only made a significant impact on our organization but have also proven to be a dedicated and reliable individual with the potential to excel in any setting.

If you have any questions or require further information, please do not hesitate to contact us. Thank you for considering <%= studentName %> for any opportunities that may arise.
<br><br>
Sincerely,<br>

Manager <br>
Bright Start connect
    </p>
</body>
</html>
